body{
  background: #eee;
  margin: 20px;
  font-family: tahoma;
}

#todo-wrapper{
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  color: #333;
}

#todo-wrapper p{
  color: #777;
  font-style: italic;
}

#todo-list ul{
  list-style-type: none;
  padding: 0;
}



.listItem {
  width: 800px;
  height: 50px;
  margin: auto;
  background-color: antiquewhite;
  display: flex;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  margin-top:5px;
  margin-bottom:5px;
}
.year {
  position: absolute;
  right: 0px;
  padding: 2px 5px;
}

.car{
  padding: 2px 5px;
 }
