body{
  background: #eee;
  /* margin: 20px; */
  font-family: tahoma;
}

#todo-wrapper{
  width: 1600px;
  margin: 0 auto;
  background: #fff;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  color: #333;
}

#todo-wrapper p{
  color: #777;
  font-style: italic;
}

#todo-list ul{
  list-style-type: none;
  padding: 0;
}



.listItem {
  width: 800px;
  height: 170px;
  margin: auto;
border-bottom: 1px solid rgb(66, 78, 165);
/* border-radius: 7px; */
  display: flex;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  margin-top:5px; 
  margin-bottom:5px;
}
.year {
  position: absolute;
  right: 0px;
  padding: 2px 5px;
}

.car{
  padding: 2px 0px;
 }
.search {
  width:800px;
  margin: auto;
  display: flex;
  height: 80px;
  align-items: center;
  background-color: #5968D9;
}
.searchloop {
  background-color: rgb(66, 78, 165);
  width: 60px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 5px;
}
.itemField {
  width: 725px;
  font-size: 21px;
  height: 35px;
  text-align: center
}
.section {
  width:700px;
  border-top: 1px solid  silver;
  height: 2px;
  position: absolute;
  top:60px;
  left:50px;
}
.specs{ 
  height: 80px;
  width: 800px;
  position: absolute;
  bottom: 15px;
}
.price {
  position: absolute;
  right: 5px;
  top: 5px;
}
.mainContainer {
  display: flex;
  flex-wrap: wrap
}

.filtersContainer {
  /* width: 200px; */
  height: 400px;
  /* color: white;
  background-color:  #88AAE6; */
  width: 800px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.triangle {
  transform: scale(1.5);
  position: absolute;
  right: 10px;
  top:5px;
  display: none;
}


@media only screen and (max-width: 1600px) {
  #todo-wrapper {
    width: 1200px
  }

  .mainContainer {
    justify-content: center;
  }
  .filtersContainer {
    order: 2;
    overflow: hidden;
      color: white;
  background-color:  #88AAE6;
  }
  .filtersContainer {
    order: -1;
    height:50px;
    transition:1s
  }
  .triangle{
    display: block;
  }
  .filtersContainer:hover{
    height:200px;
  }
}
.price-f {
  
}
.price-btn {
  margin: 0 5px;
  padding: 5px;
  background-color: #5968D9;
  color: white;
  border-color: #5968D9;
  font-size: 14px;
}

.space{
  height:30px;
}

.brand {
  margin-top:15px;
  display: flex;
  align-items: center;
}
.brandName {
  margin-top:15px;
  margin: 0px 5px;
  border: 1px solid black;
  padding: 5px;

}
.selectedBrands {
  background-color: #5968D9;
  margin:2px 0px;
  display: flex;
  color: white;
}
.brandItem {
  padding: 5px;
  margin: 2px;
}
.close {
  color:red;
  padding: 2px;
  font-size: 10px;
  position: relative;
  top: -7px;
}

/* input styling */


@media only screen and (max-width: 1200px) { 
  #todo-wrapper {
    width: 700px
  }
  .listItem {
    width: 650px;
  }
  .search {
    width: 650px;
  }
  .itemField {
    width: 575px;
  }
  .specs{ 
    width: 650px;
  }
  .section {
    width: 600px;
    left: 25px;
  }
  .filtersContainer {
    width: 650px;
    
  }
}

@media only screen and (max-width: 320px) { 
  #todo-wrapper {
    width: 300px;
  }
  /* .listItem {
    width: 280px;
  }
  .search {
    width: 650px;
  }
  .itemField {
    width: 575px;
  }
  .specs{ 
    width: 650px;
  }
  .section {
    width: 600px;
    left: 25px;
  }
  .filtersContainer {
    width: 650px;
  } */
}